/*
/*/

!/.gitignore
!/ranger/
!/vimium-options.json
!/iterm-profile.json
!/zsh/
/zsh/*
!/zsh/.zshrc
!/zsh/.zimrc
!/zsh/*.zsh
!/jesseduffield/
/jesseduffield/lazygit/*
!/jesseduffield/lazygit/config.yml
